<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.DiscussionActivity" />
        <activity android:name=".test.M_activity" />
        <activity android:name=".fragments.MessageActivity2" />
        <activity android:name=".Addstatus" />
        <activity android:name=".Admin_dashboard" />
        <activity android:name=".Chat" />
        <activity android:name=".Servicedashboard" />
        <activity android:name=".ServiceLog" />
        <activity android:name=".Admin_log" />
        <activity android:name=".Service_Request" />
        <activity android:name=".Service_dashboard" />
        <activity android:name=".New_Sell_entry" />
        <activity android:name=".Seller_dashboard" />
        <activity android:name=".Seller_Register" />
        <activity android:name=".Seller_Login" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>